.landingpage{
  text-align: center;
  
}

.chatheader{
  display: block;
    font-size: 2em;
   
    font-weight: bold;
}

.landingpage-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#landingpageInputbox[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: none;
}
.landingpage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.landingpage-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* .App::-webkit-scrollbar {
  width: 0px;
}

.App::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* .App::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* .App::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on hover */
/* .App::-webkit-scrollbar-thumb:hover {
  background: #555;
} */




